.create-quizz {
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.create-quizz-input,
.create-quizz-textarea {
    display: block;
    width: 341px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 9px;
    font-size: 19px;
    outline: 0;
    align-self: center;
    padding: 10px;
}

.create-quizz-textarea {
    font-family: 'Roboto', sans-serif;
    height: 10rem;
}

.create-quizz h2 {
    margin: 37px 0 29px 0;
    font-weight: bold;
    font-size: 20px;
}

.create-quizz h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    width: 341px;
    align-self: center;
}

.create-quizz-button {
    width: 324px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    border: 0 none;
    color: #FFFFFF;
    font-size: 18px;
}

.inputs{
    background-color: #FFFFFF;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
}

.group-inputs {
    align-self: center;
    padding: 5px 0;
}

#level-description {
    height: 177px;
}

.back-home {
    color: #818181;
    background-color: #FAFAFA;
}

.create-quizz-info,
.create-quizz-questions,
.create-quizz-levels,
.create-quizz-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invalid-input {
    background-color: #FFE9E9;
}

.invalid-error-message {
    font-size: 16px;
    color: #EC362D;
    width: 341px;
    align-self: center;
    margin-bottom: 10px;
}

#questions-inputs,
#levels-inputs {
    width: 100%;
}

.min-question-inputs,
.min-level-inputs {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    height: 65px;
    width: 100%;
    padding: 4px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
}

.min-question-inputs div,
.min-level-inputs div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}



@media (min-width: 1100px) {
    .inputs{
        width: 400px;
        margin: 0 auto;
    }

    .min-question-inputs,
    .min-level-inputs {
        width: 400px;
        margin: 0 auto 25px auto;
    }
}