.create-quizz {
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.create-quizz input {
    display: block;
    width: 341px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 9px;
    font-size: 19px;
    outline: 0;
    align-self: center;
}

.create-quizz h2 {
    margin: 37px 0 29px 0;
    font-weight: bold;
    font-size: 20px;
}

.create-quizz h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.create-quizz button {
    margin-top: 29px;
    width: 324px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    border: 0 none;
    color: #FFFFFF;
    font-size: 18px;
}

.inputs {
    background-color: #FFFFFF;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.group-inputs {
    align-self: center;
    padding: 10px;
}

.create-quizz-info,
.create-quizz-questions,
.create-quizz-levels,
.create-quizz-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}