.quizzUser{
    width: 340px;
    height: auto;
    margin: 31px;
}

.quizzUser, .first-screen, .box-without-quizzes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .box-without-quizzes{
    width: 340px;
    height: 181px;

    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}

.box-without-quizzes p{
    width: 250px;
    height: 107px;

    font-size: 20px;
    line-height: 23px;

    color: #b9b9b9;
    text-align: center;
}

.box-without-quizzes button{
    width: 151px;
    height: 40px;
    
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    font-size: 21px;
    line-height: 25px;
    color:#EC362D;
    text-align: center;
}

.box-without-quizzes button, .box-without-quizzes p {
    font-style: normal;
    font-weight: normal;

    display: flex;
    align-items: center;
    justify-content: center;   
}

.all-quizzes-list{
    width: 340px;

    display: flex;
    flex-direction: column;
    
}

.all-quizzes-list p, .user-quizzes-T1 p{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    display: flex;
    justify-content: left;
    text-align: left;

    color: #000000;
    margin-bottom: 14px;
}

.individual-quizz {
    width: 340px;
    height: 181px;

    position: relative;

    border-radius: 5px;
    margin: 14px 0;

    display: flex;
    justify-content: center;
    align-items: end;
}

.individual-quizz:hover{
    filter:brightness(0.5);
}

article img, article .shadow{
    width:100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background-size: cover;
   
}

article .shadow{
    z-index: 2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

article img{
    z-index: 1;

}
.individual-quizz h1{
    width: 310px;
    height: auto;
    
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    word-break: break-all;

    color: #FFFFFF;

    margin-bottom: 7px;
    z-index: 3;
}

.user-quizzes-T1{
    display: flex;
    justify-content: space-between;
}

.add-quizz-button{
    width: 30px;
    height: 30px;
    color: #EC362D;
}

.hidden{
    display: none;
}
.loading{
    width: 100%;
    height: 100vh;   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading img{
    width: 200px;
    height: 200px;

}
.loading h2{
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #EC362D;
}




@media (min-width:614px){
    main{
        width: 100%;
    }
    main .box-without-quizzes{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 77px;

    }

    main .all-quizzes-list{
        width: 80%;
        margin: 77px 194px 0 195px;

    }
    .quizzUser{
        width: 80%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .all-quizzes-list {
        text-align: left;

        display: flex;
        justify-content: center;
    }

    .all-quizzes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .user-quizzes-T1{
        height: 35px;

        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin-bottom: 12px;
    }

    .user-quizzes-T1 p{
        margin-bottom: 0;
    }

}