/* Topo*/

header{
    z-index: 2;
}

/*Bloco com todo conteúdo do quizz*/
.main__T2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Configurações Quizz título*/
.quizzTitleT2{
    background-position: 100% 50%;
    background-size: cover;
    width: 100%;
    height: 142px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

.quizzTitleT2 p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #ffff;
    word-break: break-all;
}

/*Configurações questões Quizz*/
.questionTitleT2 {
    width: 100%;
    height: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 42px auto 12px auto;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    color: #ffff;
    word-break: break-all;
}

.containerQuizz {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blockQuizzT2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.blockQuizzT2 img{
    width: calc(100vw*0.43); 
}

.blockQuizzT2 p{
    margin-bottom: 12px;
    word-break: break-all;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    width: calc(100vw*0.43); 
}

.column1QuizzT2 {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.column2QuizzT2 {
    display: flex;
    flex-direction: column;
}

.selected {
    opacity: none;
}

.notSelected{
    opacity: 0.3;
    
}


/*Configurações quizz resultados*/
.quizzResultTitle_T2 {
    background-color: #EC362D; 
    width: 100%;
    height: 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 42px auto 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    color: #ffff;
    text-align: center;
    word-break: break-all;
}

.quizzResultInfo_T2 {
    display: flex;
    flex-direction: column;
    margin: 9px auto 0 auto;
}

.quizzResultInfo_T2 p{
    margin-top: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    word-break: break-all;
}

.quizzResultInfo_T2 img{
    width: calc(100vw*0.9);
}

.restartQuizz_T2 {
    background: #EC362D;
    border-radius: 15px;
    width: 58%;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 34px auto 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #ffff;
    text-align: center;
    
}

.homeButtom_T2 {
    width: 58%;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px auto 66px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #818181;;
    text-align: center;
}

.resultHidden_T2 {
    display: none;
}

.allInfoQuizz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containAllQuizz {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: calc(100vw*0.9);
}

.finalOptions_T2{
    width: calc(100vw*0.9);
}

/*Adicionando cor para respostas corretas e incorretas*/
.correct{
    color: #009C22;
}

.wrong{
    color: #FF0B0B;
}

/*Configurações telas maiores que 1100px*/

@media only screen and (min-width: 1100px) {

    /*Configurações quizz*/

    .containAllQuizz {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: calc(100vw/2.08);
    }
    
    .subBlockAnswer{
        display: flex;
        flex-direction: column;
    }

    .blockQuizzT2{
        width:100%;
    }

    .blockQuizzT2 img{
        margin-bottom: 6px;
        width: calc(100vw/(2.15*2.08));
        height: 100%;
        max-width: 100%;
    }
    
    .blockQuizzT2 p{
        margin-bottom: 12px;
        word-break: break-all;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        width: calc(100vw/(2.15*2.08));
    }

    .questionTitleT2{
        width: calc(100vw/2.08);
    }

    .quizzTitleT2 p{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 27px;
        color: #ffff;
        word-break: break-all;
    }

    /*Configurações resultado quizz*/
    
    .quizzResultInfo_T2 img{
        width: calc(100vw/2.08);
    }

    .quizzResultInfo_T2 p{
        font-size: 23px;
    }

    
    .finalOptions_T2{
        width: calc(100vw/2.08);
    }

    .restartQuizz_T2 {
        font-size: 21px;
    }
    
    .homeButtom_T2 {
        font-size: 21px;
    }
}