header{
    z-index: 2;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzTitleT2{
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://http.cat/411.jpg'); */
    background-position: 100% 50%;
    background-size: cover;
    width: 100%;
    height: 142px;
    margin-top: 69px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

.quizzTitleT2 p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #ffff;
    word-break: break-all;
}

.questionTitleT2 {
    background-color: #434CA0; /*Vai ser dado de entrada para cada pergunta*/
    background-color: var(--color); /*Vai ser dado de entrada para cada pergunta*/
    width: 100%;
    height: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 42px auto 12px auto;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    color: #ffff;
    word-break: break-all;
}

.containerQuizz {
    display: flex;
    max-width: 92%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blockQuizzT2 img{
    height: 113px;
    margin-bottom: 6px;
    max-width: 163px;
    /* margin-left: 12px; */
}

.blockQuizzT2 p{
    margin-bottom: 12px;
    word-break: break-all;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
}

.column1QuizzT2 {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.column2QuizzT2 {
    display: flex;
    flex-direction: column;
}

.selected {
    opacity: none;
}

.notSelected{
    opacity: 0.3;
    
}

.correct{
    color: #009C22;
}

.wrong{
    color: #FF0B0B;
}

/*Quizz Result configurations CSS*/
.quizzResultTitle_T2 {
    background-color: #EC362D; /*Vai ser dado de entrada para cada pergunta*/
    width: 90%;
    height: 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 42px auto 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    color: #ffff;
    text-align: center;
    word-break: break-all;
}

.quizzResultInfo_T2 {
    /* height: 255px; */
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 9px auto 0 auto;
}

.quizzResultInfo_T2 p{
    margin-top: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    word-break: break-all;
}

.quizzResultInfo_T2 img{
    max-width: 100%;
}

.restartQuizz_T2 {
    background: #EC362D;
    border-radius: 15px;
    width: 58%;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 34px auto 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #ffff;
    text-align: center;
    
}

.homeButtom_T2 {
    width: 58%;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px auto 66px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #818181;;
    text-align: center;
}

.resultHidden_T2 {
    display: none;
}

.subBlockAnswer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 117px;
}

.allInfoQuizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}