* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header {
    color: #FFFFFF;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
    font-size: 37px;
    font-weight: bold;
}

.hidden {
    display: none;
}